<%@tag description="put the tag description here" pageEncoding="UTF-8"%>

<%@attribute name="head" fragment="true" %>

<h3><jsp:invoke fragment="head"/></h3>
<jsp:doBody/>
<h3><jsp:invoke fragment="head"/></h3>
