<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>format</short-name>
  <uri>/WEB-INF/tlds/format</uri>
  <tag>
    <name>amount</name>
    <body-content>empty</body-content>
    <tag-class>wwm.web.FormatAmount</tag-class>
    <attribute>
      <name>value</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
    <attribute>
      <name>var</name>
    </attribute>
  </tag>
  <function>
    <name>geld</name>
    <function-class>wwm.web.FormatAmount</function-class>
    <function-signature>String format(int, java.util.Locale)</function-signature>
  </function>
</taglib>
